[
  {
    "username": "BOT_NICK",
    "password": "BOT_PASSWORD",
    "anarchy": 221,
    "wsPort": 8790,
    "deliveryMode": "clan",
    "clanInvestMultiplier": 1000000,
    "clanPhaseTimeoutMs": 60000,
    "clanLoopWaitMs": 2000,
    "clanInvestWaitMs": 15000,
    "clanClickDelayMinMs": 1500,
    "clanClickDelayMaxMs": 4500,
    "clanMembersMenuSlot": 11,
    "clanKickConfirmSlot": 0,
    "anarchyRejoinWaitMs": 5000,
    "mockDelivery": false,
    "healthCheckEnabled": true,
    "deliverTimeoutMs": 600000,
    "telegramToken": "BOT_TOKEN_FROM_BOTFATHER",
    "telegramChatId": "123456789",
    "telegramProxy": "off"
  }
]
