[
  {
    "username": "BOT_NICK",
    "password": "BOT_PASSWORD",
    "anarchy": 221,
    "wsPort": 8790,
    "payTemplate": "/pay {nick} {amount}",
    "payAmountMultiplier": 1000000,
    "paySuffix": "",
    "mockDelivery": false,
    "healthCheckEnabled": true,
    "telegramToken": "BOT_TOKEN_FROM_BOTFATHER",
    "telegramChatId": "123456789",
    "telegramProxy": "off"
  }
]
